:root {
    --main-bg-color: #ea7927;
    --secondary-bg-color: #e1e1e1;
    --main-text-color: white;
    --accent-color: #ea7927;
    --dark-text-color: #2e4571;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h2 {
    font-weight: 500;
    line-height: 1.2;
}

main {
    background-image: url("img/bg smarthack.jpg");
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgba(64, 64, 64, 0.75);
}

nav a {
    padding: 3vh 2vw;
    margin: 0 0.5vw;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-bg-color);
}

nav a:hover {
    color: var(--accent-color);
    background-color: var(--secondary-bg-color);
}

#acasa {
    height: 100vh;
    position: relative;
}

#header-background {
    position: absolute;
    width: 35%;
    height: 100%;
    background: linear-gradient(#ffffff 0%, #ffffff 8%, #fcfcfc 16%, #e9e9ea 47%, #e1e1e1 65%, #e1e1e1 100%);
}

#header-background img {
    position: absolute;
    left: 99%;
    height: 100%;
    width: auto;
}

@media (max-width: 1000px) {
    #header-background {
        width: 100%;
    }
    #header-background img {
        display: none;
    }
}

#title {
    display: flex;
    position: absolute;
    left: 0;
    top: calc(7vh + 1rem);
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    border-bottom: solid 5px var(--accent-color);
}

#logo {
    max-width: 33%;
}

#despre {
    background-color: var(--secondary-bg-color);
}

#despre header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#despre header figure {
    text-align: center;
    margin: 1vh 2vw;
}

#despre-puncte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#despre-puncte > section {
    max-width: 20rem;
    padding: 0 3vw;
    text-align: justify;
    color: #203442;
}

#despre-puncte h2 {
    color: var(--title-color);
}


#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#info > section {
    margin: 2rem 6vw;
}

#program > h2, #locatie > h2 {
    text-align: center;
}

#program section > p {
    text-align: center;
}

#program section h2 {
    padding-left: 5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
}

#program ul {
    list-style-type: none;
}

#program time {
    display: inline-block;
    width: 6rem;
    margin-right: 1rem;
}